{{!-- // This is where the navbar/header code goes  --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{!-- <a class="navbar-brand navbar-center" href="/"> --}}
		<a href="/">
			<img alt="Brand" class="logo-img" src="/images/tmway-logo-alt-md.png">	
      	</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
	        <li class="active">
	        	<a href="/">Tell Me, Who ARE You?
	        		<span class="sr-only">(current)</span>
	        	</a>
	        </li>
	    </ul>
    </div>
  </div>
</nav>





