{{!-- // This is where the navbar/header code goes  --}}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">

		  {{!-- <a class="navbar-brand navbar-center" href="/"> --}}
			<a href="/:id/game">
				<img alt="Brand" class="logo-img" src="/images/tmway-logo-alt-md.png">	
		  	</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		        <li class="active">
		        	<a id="title-name" href="/">Tell Me, Who ARE You?
		        	</a>
		        	{{!-- <span class="new-label">the Digital Card Game</span> --}}
		        </li>
		    </ul>
		</div>
	</div>
</nav>





