<form id="signup" class= "createUserForm col-md-4 col-md-offset-4" name="signup" method="post" action="/signup">
    <label for="" class="email-title">Welcome, Please Sign in or Login</label>
    <input class="form-control userEmail" placeholder="Enter your email" type="text" name="email"/>
    
    <input class="form-control userPassword" placeholder="Create your password" type="password" name="password" type="password"/>

	<button type="submit" class="btn btn-default registerButton">Submit</button>
</form>
