{{> header}}


<div class="container">
    <div class="row">
        
        {{!-- SFW Button --}}
        <div class="row col-md-3 sfw-deck">
        	<a ng-view="" class="col-xs-12 startSFWDeck" data-toggle="modal" data-target="#sfwModal" class="nsfw">Safe<br>Cards</a>
        </div>

        {{!-- NSFW Button --}}
        <div class="row col-md-3 nsfw-deck">
            <a ng-view="" class="col-xs-12 startNSFWDeck" data-toggle="modal" data-target="#nsfwModal" class="sfw">
            	Risqué<br>Cards 
            	<p class="nsfw-subtext">(spicy questions, and not for the faint of heart)</p>
            </a>
        </div>


        {{!-- Create a Card --}}
        <div class="row col-md-3 update-deck">
            <a href="/update" class="col-xs-12 startNSFWDeck">Update<br>Cards</a>
        </div>
    </div>
</div>


{{!-- ===================================================== --}}
            {{!-- Creating the SFW Modal Card --}}
{{!-- ===================================================== --}}
<div class="modal fade" id="sfwModal" tabindex="-1" role="dialog" aria-labelledby="sfwModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content-sfw"> 
            <div class="modal-header">
                <h5 class="modal-title" id="sfwModalLabel">These cards are safe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="sfw-modal-body">
            	Hit Next to Start!
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-target="sfwmodal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="sfw-next">Next</button>
            </div>
        </div>
    </div>
</div>

{{!-- ===================================================== --}}
            {{!-- Creating the NSFW Modal Card --}}
{{!-- ===================================================== --}}
<div class="modal fade" id="nsfwModal" tabindex="-1" role="dialog" aria-labelledby="nsfwModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content-nsfw">
            <div class="modal-header">
                <h5 class="modal-title" id="nsfwModalLabel">These cards are NOT safe for work!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="nsfw-modal-body">
                Hit Next to Start!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="nsfw-next">Next</button>
            </div>
        </div>
    </div>
</div>

