{{> header}}
<div class="container">
	<form class= "createUserForm col-md-4 col-md-offset-4" action="/newUser" method="POST">


	   <label for="">Login & Sign Up!</label>
	   <input class="form-control userEmail" placeholder="Enter your email" type="text" name="userEmail"/>
	   <input class="form-control userPassword" placeholder="Create your password" type="text" name="userPassword"/>

		<br>
		<button action= type="submit" class="btn btn-default registerButton">Log in</button>

	</form>
</div>