<<<<<<< HEAD
{{> header}}
<div class="container">
    <div class="row">
        <a href="nsfw" class="col-md-6 btn btn-default startNSFWDeck">NSFW</a>
        <a href="sfw" class="col-md-6 btn btn-default  startSFWDeck ">SFW</a>
        <div class="row">
            <a href="createCard" class="btn btn-default col-md-12 createCard">Create A Card</a>
        </div>
    </div>
</div>
=======
{{!-- // This code will link your header code into the page. {{> header}} --}}



<form action="api/addQuestion" method="POST" id="questions-form">
	<label for="">Type Your Question:</label>
    <input class="form-control" placeholder="Add a question" type="text" name="newQuestion" />
    <label for="">Is it safe for work? Type your bool!!!</label>
    <input class="form-control" type="number" name="newSfw">
    <button type="submit" class="btn btn-default">Add Question</button>
</form>

<form action="api/questions/11?_method=DELETE" method="POST">
	<button type="submit">Delete</button>
</form>
>>>>>>> 0f42370b8abc1b2dc4aed90ad5c3cf2fa0dd5134
