
{{> header}}

<div class="container">
    <div class="row">
        {{!-- NSFW Button --}}
        <a class="text-middle col-md-6 startNSFWDeck" data-toggle="modal" data-target="#nsfwModal" class="sfw">NSFW</a>
        
        {{!-- SFW Button --}}
        <a class="text-middle col-md-6 startSFWDeck" data-toggle="modal" data-target="#sfwModal" class="nsfw">SFW</a>

        
        <div class="row">
            <a href="createCard" class="btn btn-default col-md-12 createCard">Create A Card</a>
        </div>
    </div>
</div>



{{!-- Creating the SFW Modal Card --}}
<div class="modal fade" id="sfwModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">QUESTION:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="sfw-modal-body">
      	Hit Next to Start!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sfw-next">Next</button>
      </div>
    </div>
  </div>
</div>

{{!-- ===================================================== --}}
{{!-- ===================================================== --}}
{{!-- ===================================================== --}}

{{!-- Creating the NSFW Modal Card --}}
<div class="modal fade" id="nsfwModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">QUESTION:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="nsfw-modal-body">
        Hit Next to Start!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="nsfw-next">Next</button>
      </div>
    </div>
  </div>
</div>

{{!-- // This code will link your header code into the page. {{> header}} --}}



