
{{> header}}

<div class="container">
    <div class="row">
        <a href="nsfw" class="col-md-6 btn btn-default startNSFWDeck">NSFW</a>
        <a href="sfw" class="col-md-6 btn btn-default  startSFWDeck ">SFW</a>
        <div class="row">
            <a href="createCard" class="btn btn-default col-md-12 createCard">Create A Card</a>
        </div>
    </div>
</div>

{{!-- // This code will link your header code into the page. {{> header}} --}}



