{{> header}}

<form class= "createUserForm" action="/newUser" method="POST">

   <label for="">Email</label>
   <input class="form-control userEmail" placeholder="Enter your email" type="text" name="userEmail"/>
   <input class="form-control userPassword" placeholder="Create your password" type="text" name="userPassword"/>

<button action= type="submit" class="btn btn-default registerButton">Log in</button>

</form>