<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <form id="signup" name="signup" method="post" action="/signup">
      <label for="">Email</label>
      <input class="form-control userEmail" placeholder="Enter your email" type="text" name="email"/>
      <input class="form-control userPassword" placeholder="Create your password" type="text" name="password"/>

   <button type="submit" class="btn btn-default registerButton">Submit</button>
    </form>

</body>

</html>
