.jumbotron { text-align:center; }*/

/* ///// UNIVERSAL OVERRIDE ///// */

body {
	background: -webkit-linear-gradient(321deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	background: -o-linear-gradient(321deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	background: linear-gradient(51deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}


ul {
	margin: 0px;
	padding: 0px;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}
	
/* ///// UNIVERSAL OVERRIDE END ///// */


/* ----- background styling ----- */
.view-port {
	float: left;
  	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-image: url("/images/bg-header-1 copy.jpg");
}

/* ----- Signup Page ----- */
.email-title {
	font-size: 20px;
}

/* ----- User Dashboard ----- */
#user-dashboard {
	text-align:center;
}

/* ----- Update-Page: In Parallax Mode ----- */
.bg-long {
	height: 600px;  
	background: url('/images/bg-header-1 copy.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.scroll-long {
	width: 100vw;
	background-color: #78668E;
	
}
/* ///// Update-Page: In Parallax Mode ///// */

.listed-questions {
	display: inline-block;
	width: 100vw;
	width: 30vw;
	margin: 10px;
	border-radius: 17px;
	box-shadow: 3px 3px 3px black;
	background-color: tomato;
	text-align: center;
	vertical-align: text-top;
	list-style: none;
	
}

/* ----- Basic stylistic look of NSFW and SWF ----- */
.startSFWDeck,
.startNSFWDeck,
.updateCardDeck {
	margin-top: 100px;
	height: 200px;
	transition: .5s ease;
	font-size: 30px;
	border-radius: 100px;
	color: white;
	text-align: center;
	background-color: Transparent;
    background-repeat: no-repeat;
    text-decoration: none;
    border: none;
    cursor: pointer;
    outline: none;
}

/* Hover for SFW and NSFW */
.startSFWDeck:hover,
.startNSFWDeck:hover,
.updateCardDeck:hover  {
	font-size:50px;
	transition: .5s ease;
	color: white;
	background-color: Transparent;
    background-repeat:no-repeat;
    text-decoration: none;
}

/* ----- Each Game Card ----- */

	/* ///// Bounce Animation ///// */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
	
.sfw-deck:hover,
.nsfw-deck:hover,
.update-deck:hover {
	animation: bounce 1s;
}
	/* ///// END Bounce Animation ///// */


.sfw-deck,
.nsfw-deck,
.update-deck {  
	padding: 20px;
	margin: 0px 20px;
	border-radius: 10px;
	height: 500px;
	box-shadow: 7px 6px 40px black;
	background-color: tomato;
	background-size: cover;
	
}

.sfw-deck {
		/* For browsers that do not support gradients */
	background: orange; 
		/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(bottom, orange, orange, #F26609);
		/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(bottom, orange, orange, #F26609);
		/* For Firefox 3.6 to 15 */
	background: -moz-linear-gradient(bottom, orange, orange, #F26609);
		/* Standard syntax */
	background: linear-gradient(to bottom, orange, orange, orange, #ED9A25);

	text-shadow: 1px 0px 0px yellow, 0 0 10em black, 0 0 0.1em black;
	background-image: url("/images/sfw-fruits.jpg");
}

.nsfw-deck {
		/* For browsers that do not support gradients */
	background: aqua;
	 	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(bottom, #0099cc, #0099cc, #0099cc, #4169b0);
	 	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(bottom, #0099cc, #0099cc, #0099cc, #4169b0);
		/* For Firefox 3.6 to 15 */
	background: -moz-linear-gradient(bottom, #0099cc, #0099cc, #0099cc, #4169b0);
	 	/* Standard syntax */
	background: linear-gradient(to bottom, #0099cc, #0099cc, #0099cc, #4169b0);
	text-shadow: 1px 0px 0px black, 0 0 10em black, 0 0 0.1em black;
	background-image: url("/images/nsfw-peppers.jpg");
}

.update-deck {
	text-shadow: 1px 0px 0px black, 0 0 10em gray, 0 0 0.1em black;
	background-image: url("/images/update-blanks.jpg");
}

.addQuestionButton { margin-top: 10px; }
.all-questions-header {
	color: white;
	text-align: center;
}
.backButton { margin-top: 100px; }

/* ----- NSFW subtext ----- */
.nsfw-subtext {
	font-size: 20px;
	transition: .2s ease;
	visibility: hidden;
	color: white;
}

.startNSFWDeck:hover .nsfw-subtext {
  transition: .2s ease;
  visibility: visible;
  opacity: 1;
  
}


/* ----- Brand Image Animation ----- */
.logo-img {
	height: 50px;
	width: 50px;
	transition: .5s ease
}

.logo-img:hover {
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
	transition: .5s ease
}	

/* ----- BOOTSTRAP Override ----- */
/*.column,
.container { 
  padding: 15px 0px;
}*/

/*.row {
	margin: -20px -75px;
}
*/

/* ----- MODAL override ----- */

.nsfw-modal-body,{
	border: none;

}

.modal-footer,
.modal-header {
	border: none;

}

#sfwModalLabel, 
#nsfwModalLabel {
	font-size: 20px;
}

.modal-content-sfw,
.modal-content-nsfw  {
	text-align: center;
	border-radius: 20px;
	font-size: 40px;
	margin: 10px;
	height: 500px;
	width: 400px;
}

.modal-content-nsfw {
	background-color: #0099cc;
	color: white;
}
.modal-content-sfw {
	background-color: orange;
}

#swfModalLabel {
	font-size: 30px;
}



/* ----- Create a Card ----- */
.del-btn {
	border-radius: 7px;
	background-color: red;
	color: black;
	border-color: silver;
	height: 25px;
	width: 30px;
}

.edit {
	/*border-radius: 7px;*/
	/*background-color: lightskyblue;*/
	/*border-color: silver;*/
	/*height: 25px;
	width: 30px;*/
}


.modal-backdrop {
	
}


/* Index Page Form */

form {
	display: inline-block;
	color: white;
	padding: 20px;
	margin: 0 auto;
}


/* ----- Nav Bar ----- */
#title-name {
	transition: .5s ease;
	color: white;
	font-weight: bold;
	font-variant: small-caps; 
}
