.jumbotron { text-align:center; }*/

/* ----- UNIVERSAL OVERRIDE ----- */

body {

	background: -webkit-linear-gradient(321deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	background: -o-linear-gradient(321deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	background: linear-gradient(51deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	
}


ul {
	margin: 0px;
	padding: 0px;
}

/* background styling */
.view-port {
	/*position: fixed;*/
	float: left;
  	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-image: url("/images/bg-header-1 copy.jpg");
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}
	
/* ------ UNIVERSAL OVERRIDE END ------ */


/* ----- Basic stylistic look of NSFW and SWF ----- */
.startSFWDeck,
.startNSFWDeck,
.createCard  {
	color: white;
	transition: .5s ease;
	text-align: center;
	font-size: 30px;
	background-color: Transparent;
    background-repeat: no-repeat;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    outline: none;
    margin-top: 100px;
	height: 200px;
}

/* Hover for SFW and NSFW */
.startSFWDeck:hover,
.startNSFWDeck:hover,
.createCard:hover  {

	font-size:50px;
	color: white;
	transition: .5s ease;
	background-color: Transparent;
    background-repeat:no-repeat;
    text-decoration: none;
}
/* Each Game Card */

	/* Bounce Animation */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
	
.sfw-deck:hover,
.nsfw-deck:hover,
.update-deck:hover {
	animation: bounce 1s;
}
	/* END Bounce Animation */


.sfw-deck,
.nsfw-deck,
.update-deck {  
	padding: 20px;
	margin: 0px 20px;
	border-radius: 10px;
	height: 500px;
	background-color: tomato;

	background-size: cover;
	box-shadow: 10px 10px 5px black;
}

.sfw-deck {
	text-shadow: 1px 0px 0px yellow, 0 0 10em black, 0 0 0.1em black;
	background-image: url("/images/sfw-fruits.jpg");
		/* For browsers that do not support gradients */
	/*background: orange; */
		/* For Safari 5.1 to 6.0 */
	/*background: -webkit-linear-gradient(bottom, orange, orange, #F26609);*/
		/* For Opera 11.1 to 12.0 */
	/*background: -o-linear-gradient(bottom, orange, orange, #F26609);*/
		/* For Firefox 3.6 to 15 */
	/*background: -moz-linear-gradient(bottom, orange, orange, #F26609);*/
		/* Standard syntax */
	/*background: linear-gradient(to bottom, orange, orange, orange, #ED9A25);*/
}

.nsfw-deck {
	text-shadow: 1px 0px 0px black, 0 0 10em black, 0 0 0.1em black;
	background-image: url("/images/nsfw-peppers.jpg");
		/* For browsers that do not support gradients */
	/*background: aqua;*/
	 	/* For Safari 5.1 to 6.0 */
	/*background: -webkit-linear-gradient(bottom, #0099cc, #0099cc, #0099cc, #4169b0);*/
	 	/* For Opera 11.1 to 12.0 */
	/*background: -o-linear-gradient(bottom, #0099cc, #0099cc, #0099cc, #4169b0);*/
		/* For Firefox 3.6 to 15 */
	/*background: -moz-linear-gradient(bottom, #0099cc, #0099cc, #0099cc, #4169b0);*/
	 	/* Standard syntax */
	/*background: linear-gradient(to bottom, #0099cc, #0099cc, #0099cc, #4169b0);*/

}

.update-deck {
	text-shadow: 1px 0px 0px black, 0 0 10em gray, 0 0 0.1em black;
	background-image: url("/images/update-blanks.jpg");
		/* For browsers that do not support gradients */
	/*background: pink; */
		/* For Safari 5.1 to 6.0 */
	/*background: -webkit-linear-gradient(bottom, pink, #eb7f88);*/
	 	/* For Opera 11.1 to 12.0 */
	/*background: -o-linear-gradient(bottom, pink, #eb7f88);*/
	 	/* For Firefox 3.6 to 15 */
	/*background: -moz-linear-gradient(bottom, pink, #eb7f88);*/
	 	/* Standard syntax */
	/*background: linear-gradient(to bottom, pink, #eb7f88);*/
}

.addQuestionButton { margin-top: 10px; }

.backButton { margin-top: 100px; }

/* ----- NSFW subtext ----- */

.nsfw-subtext {
	font-size: 20px;
	visibility: hidden;
	color: white;
	transition: .2s ease;
}

.startNSFWDeck:hover .nsfw-subtext {
  transition: .2s ease;
  visibility: visible;
  opacity: 1;
  
}


/* ----- Brand Image Animation ----- */

.logo-img {
	height: 50px;
	width: 50px;
	transition: .5s ease
}

.logo-img:hover {
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
	transition: .5s ease
}	

/* ----- BOOTSTRAP Override ----- */

/*.column,
.container { 
  padding: 15px 0px;
}*/

/*.row {
	margin: -20px -75px;
}
*/

/* ----- MODAL override ----- */

/* ----- sfw Modal ----- */ 

/*.modal-header-sfw,
.sfw-modal-body,
.modal-footer-sfw {
	border: none;

}*/

.modal-content-sfw {
	background-color: orange;
	border-radius: 20px;
	text-align: center;
	height: 500px;
	width: 400px;
}

#swfModalLabel {
	font-size: 30px;
}


/* ----- nsfw Modal ----- */

.modal-header-nsfw,
.nsfw-modal-body,
.modal-footer-nsfw {
	border: none;

}

.modal-content-nsfw {
	background-color: #0099cc;
	text-align: center;
	color: white;
	height: 500px;
	width: 400px;
	font-size: 15px;
	
}

#nsfwModalLabel {
	font-size: 30px;
}


/* ----- Create a Card ----- */

.del-btn {
	border-radius: 7px;
	background-color: red;
	color: black;
	border-color: silver;
	height: 25px;
	width: 30px;
}

.edit {
	border-radius: 7px;
	background-color: lightskyblue;
	border-color: silver;
	height: 25px;
	width: 30px;
}


.modal-backdrop {
	
}


.listed_questions {
	border-style: solid;
	border-width: 2px;
	padding: 7px;
	margin: 3px;
	list-style: none;
	border-radius: 17px;
	box-shadow: 3px 3px 3px #888888;
}

/* Index Page Form */

form {
	display: inline-block;
	color: white;
	padding-top: 120px;
	margin: 0 auto;
}


/* ----- Nav Bar ----- */
#title-name {
	transition: .5s ease;
	color: white;
	font-weight: bold;
	font-variant: small-caps; 
}
/*.title-name:hover {
	transition: .5s ease;
	color: black;
	text-decoration: none;
}

.title-name:hover a p.new-label:after {
	content: 'The Card Game';
}
